.footer{
	border-bottom: 1px solid #4c4646 !important;
    background: #ff7cd3;
    padding: 10px !important;
    color: #4f6b72;
	width: 99% !important;
	margin: auto !important;
	font-weight:bold;
    text-align: center !important;
}

.header{
	border: 1px solid #4c4646 !important;
    /* background: #ffffff; */
    background: linear-gradient(90deg, rgba(7,0,104,1) 0%, rgba(7,0,104,1) 30%, rgba(231,0,104,1) 50%, rgba(7,0,104,1) 70%,rgba(7,0,104,1) 100%) !important;
    padding: 15px !important;
    color: #ffffff;
	width: 99% !important;
	margin: auto !important;
	font-weight: bold;
    font-size: 26px !important;
    text-align: center  !important;
}